.keyskills{
    /* background-color: rgb(46, 46, 46); */
    padding-top: 1%;
    padding-bottom: 6%;
    background-color:black;
    /* background-image: url('../../assets/background.png'); */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Avoid repeating the image */
}
.keyskillsSection{
    position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
}
.ksHeading{
    font-size: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1a1a;
    position: absolute;
    font-weight: 900;

}
.ksHeading2{
    position: absolute;
    font-size: 30px;
    margin-top: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-weight: 900;

}
.ksHeadingSkills{
    color: white;
}


/* CSS for the slider container */
.slider-container {
    width: 73%;
    height: 520px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
  }
  
  /* CSS for the slider */
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-left: 80%; */
}
  
  /* CSS for each slide */
  .slide {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  


















.skills{
    margin-top: 3%;
}
.skillsicons{
    display: flex;
    margin: 40px;
    margin-top: 10%;
}
.skillicon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillImg{
    width: 46%;
}
.d-f{
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: relative;
    display: inline-flex;;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 78px;
    background-color: rgb(230, 179, 104);
    color: rgb(53, 53, 53);
    text-align: center;
    border-radius: 6px;
    padding: 0px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 86px;
    left: 62%;
    font-size: 12px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }